
body{
    font-family: 'Poppins', sans-serif;
}

.section_one{
    display: flex;
    height: 500px;
}

.half_width{
    width: 40%;
    margin: 5%;
    padding: 3%;
}

h1{
    font-size: 45px;
}

.sec_heading{
    border-left: 3px solid;
    border-image: linear-gradient(rgb(87, 176, 211), rgb(95, 196, 236));
    border-image-slice: 1;
    padding-left: 5px;
}


.orange_color{
    color: orange;
}

.half_width img{
    width: 100%;
}

.ancor_button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: rgb(50, 135, 168);
    padding: 10px 30px;
    border-radius: 5px;
}
p{
    color: gray;
}

.section_two{
    height: 500px;
}

h2{
    font-size: 40px;
    text-align: center;
}

.flexible{
    display: flex;
    width: 80%;
    margin: 5%;
    padding: 5%;
}

.mission{
    width: 30%;
    margin: 1%;
    padding: 2%;
    background-color: bisque;
    border-radius: 20px;
}

.mission img{
    width: 30%;
}

.vission{
    width: 30%;
    margin: 1%;
    padding: 2%;
    background-color: skyblue;
    border-radius: 20px;
}

.vission img{
    width: 30%;
}

.goals{
    width: 30%;
    margin: 1%;
    padding: 2%;
    background-color: lightsalmon;
    border-radius: 20px;
}

.goals img{
    width: 30%;
}

h4{
    font-size: 20px;
}

.section_three{
    height: 500px;
    display: flex;
    background-image: url("../images/shapes/shape-1.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 4%;
}

h3{
    font-size: 30px;
}